body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    font-family: sans-serif;
    color: #fff;
    overflow: hidden;
}
#homePage {
    height: 100vh;
}
.prc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}
.prc .btn {
    width: 35vw;
    height: 30%;
    border-radius: 10px;
}
.btn {
    background-color: #1a2682;
    border: 4px solid;
}

